.modal__window{
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 20px;
   padding:5px;
   max-height: 80vh;
  width:400px;
  overflow-y:auto;
  overscroll-behavior: contain;
   background: white;
   overflow-x: hidden;
}
.modal__cart{
    display:none;
  position:fixed;
  top:80px;
  right:50px;
  z-index: 9999;
  margin-top: 10px;
}
.header__basket-icon{
  position: relative;
  border:none;
  background: inherit;
}
.header__cart-group{
    position: relative;
    display: inline-block;
}
.modal__cart.active{
display: block;
}

.hidden{
    display:none !important;
}
.modal__close{
    border-radius: 50px;
    border:none;
    margin:5px;
}
.modal__summary{
    display: flex;
    justify-content: space-between;
    padding:20px;
    border-bottom: 1px solid gray;
}
.modal__checkout{
    border:none;
    background: black;
    color:white;
    border-radius:10px;
    padding-inline:100px;
    padding-block: 10px;
    font-size: 20px;
   
}
.modal__order{
 display: flex;
    padding:20px;
    width: 100%;
}
.modal__bottom{
    border-top:1px solid gray;
}
.modal__wrapper{
    display: flex;
    justify-content: space-between;
    padding-block: 30px;
}
.counter__option{
    border:none;
    background: lightgray;
    border-radius:40px;
    padding-block:3px;
    font-size: 18px;
    text-align: center;
}
.modal__counter{
   text-align: center;
}
.modal__title{
font-family: 24px;
font-weight: 700;
}

.modal__info{
  display:grid;
  place-items:center;
  z-index:1000;
  font-size:18px;
  position: fixed;
  inset:0;
}
.cartModal__window{
position:relative;
background:white;
color:black;
z-index: 1;
padding:clamp(0.938rem,4vw,1.875rem);
 max-height: 80vh;
 height:auto;
border-radius:30px;
margin:0 auto;
box-shadow: 0 8px 24px rgba(0,0,0,.3);
  max-width: 960px; 
  width: 100%;
  }
  
    .cartModal__overlay{
    position:absolute;
    inset:0;
    z-index: 0;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(2px);
  }
  .cartModal__wrapper{
    position:relative;
  }
.cartModal__system{
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: 100%;
   overflow: hidden;
}
.cartModal__icon{
  width:25px;
  height:25px;
  fill:currentColor;
}
.cartModal__colls-ingredients{
   overflow-y: auto;
   padding-left: 1rem;
}
.cartModal__ingredients-text{
   font-size:18px;
   margin: 0;
}
.cartModal__btn{
  margin-block: 20px;

}
.cartModal__ingredients-title{
   text-align: center;
}

.cartModal__order{
   display: flex;
   justify-content: center;
   margin-block:1.875rem;
}
.cartModal__price{
   margin: 0;
}
.cartModal__close{
    border-radius: 30px;
    background: inherit;
    border:none;
    color:white;
}
.cartModal__order-btn{
    font-size: 18px;
    padding:10px;
    background: black;
    color:white;
    border-radius: 30px;
    border: none;
}
.thankyou__price{
  padding-block: 20px;
  text-align: center;
}
.modal__empty-cart{
 width:60px;
 height: 90px;


}
.modal__sad{
  text-align: center;
  font-size: 20px;
}
.modal__empty{
  display: flex;
  flex-direction: column;
 align-items: center;
  justify-content: center;
  flex: 1;
  
}